<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.weatherslider.morgan.design"
    android:versionCode="1"
    android:versionName="0.0.1-SNAPSHOT" >

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:name="com.morgan.design.WeatherSliderApplication" >

        <!-- Main activity , can dispatch view on load -->
        <activity
            android:configChanges="keyboardHidden|orientation"
            android:name="com.morgan.design.android.ManageWeatherChoiceActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Allows user to enter a location -->
        <activity
            android:configChanges="keyboardHidden|orientation"
            android:name="com.morgan.design.android.EnterLocationActivity" >
        </activity>

        <!-- Lists out all known WOEID entries found -->
        <activity
            android:configChanges="keyboardHidden|orientation"
            android:name="com.morgan.design.android.ListLocationsActivity" >
        </activity>

        <!-- Lists all User Preferences -->
        <activity
            android:clearTaskOnLaunch="true"
            android:configChanges="keyboardHidden|orientation"
            android:name="com.morgan.design.android.UserPreferencesActivity" />

        <!-- Weather Overview Screen -->
        <activity
            android:configChanges="keyboardHidden|orientation"
            android:name="com.morgan.design.android.WeatherOverviewActivity" >
            <intent-filter >
                <action android:name="com.morgan.design.android.action.OPEN_WEATHER_VIEW" />
            </intent-filter>
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <!-- Weather Forcast Overview Screen -->
        <activity
            android:configChanges="keyboardHidden|orientation"
            android:name="com.morgan.design.android.ForecastOverviewActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:configChanges="keyboardHidden|orientation"
            android:name="com.morgan.design.android.ForcastTabCreationActivity" >
        </activity>
        <activity
            android:configChanges="keyboardHidden|orientation"
            android:name="com.morgan.design.android.ForecastOverviewTabActivity" >
        </activity>

        <!-- Service which periodically queries for the latest weather -->
        <service
            android:enabled="true"
            android:label="@string/yahoo_weather_loader_service"
            android:name="com.morgan.design.android.service.YahooWeatherLoaderService" />

        <!-- Service which gets current GPS location -->
        <service
            android:enabled="true"
            android:label="@string/get_my_location_service"
            android:name="com.morgan.design.android.service.GetMyLocationService" />

        <!-- Service which notifies about changes to the weather -->
        <service
            android:enabled="true"
            android:label="@string/yahoo_notifcation_service"
            android:name="com.morgan.design.android.service.YahooWeatherNotifcationService" />

        <!-- Register periodic launcher for connectivity changes and get weather download -->
        <receiver
            android:label="@string/periodic_reciever"
            android:name="com.morgan.design.android.broadcast.LaunchReceiver" >
            <intent-filter >
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter >
                <action android:name="com.morgan.design.android.broadcast.GET_WEATHER_FORCAST" />
            </intent-filter>
        </receiver>

        <!-- Register for phone start-up event in order to start service if enabled -->
        <receiver
            android:label="@string/start_up_receiver"
            android:name="com.morgan.design.android.broadcast.MyStartupIntentReceiver" >
            <intent-filter >
                <action android:name="android.intent.action.ACTION_BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

</manifest>