<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.weatherslider.morgan.design"
    android:versionCode="1"
    android:versionName="0.1" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <uses-sdk android:minSdkVersion="7" />

    <!-- android:debuggable="true" -->
    <application
        android:name="com.morgan.design.WeatherSliderApplication"
        android:icon="@drawable/icon"
        android:label="@string/app_name" >

        <!-- Main activity , can dispatch view on load -->
        <activity
            android:name="com.morgan.design.android.ManageWeatherChoiceActivity"
            android:configChanges="keyboardHidden|orientation" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Allows user to enter a location -->
        <activity
            android:name="com.morgan.design.android.EnterLocationActivity"
            android:configChanges="keyboardHidden|orientation" >
        </activity>

        <!-- Lists out all known WOEID entries found -->
        <activity
            android:name="com.morgan.design.android.ListLocationsActivity"
            android:configChanges="keyboardHidden|orientation" >
        </activity>

        <!-- Lists all User Preferences -->
        <activity
            android:name="com.morgan.design.android.UserPreferencesActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="keyboardHidden|orientation" />

        <!-- Feedback form -->
        <activity
            android:name="com.morgan.design.FeedbackFormActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="keyboardHidden|orientation" />

        <!-- Weather Overview Screen -->
        <activity
            android:name="com.morgan.design.android.WeatherOverviewActivity"
            android:configChanges="keyboardHidden|orientation" >
            <intent-filter>
                <action android:name="com.morgan.design.android.broadcast.OPEN_WEATHER_OVERVIEW" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <!-- Weather Forecast Overview Screens -->
        <activity
            android:name="com.morgan.design.android.ForecastOverviewActivity"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.morgan.design.android.ForcastTabCreationActivity"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        <activity
            android:name="com.morgan.design.android.ForecastOverviewTabActivity"
            android:configChanges="keyboardHidden|orientation" >
        </activity>

        <!-- Service which periodically queries for the latest weather -->
        <service
            android:name="com.morgan.design.android.service.YahooWeatherLoaderService"
            android:enabled="true"
            android:label="@string/yahoo_weather_loader_service" />

        <!-- Service which simply determines your current GPS location -->
        <service
            android:name="com.morgan.design.android.service.LocationLookupService"
            android:enabled="true"
            android:label="@string/get_my_location_service" >
            <intent-filter>
                <action android:name="com.morgan.design.android.service.GET_ROAMING_LOCATION_LOOKUP" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.morgan.design.android.service.GET_ONE_OFF_CURRENT_LOCATION" />
            </intent-filter>
        </service>

        <!-- Service which notifies about changes to the weather -->
        <service
            android:name="com.morgan.design.android.service.YahooWeatherNotifcationService"
            android:enabled="true"
            android:label="@string/yahoo_notifcation_service" />

        <!-- Service which finds your GPS location then gets the weather for your location -->
        <service
            android:name="com.morgan.design.android.service.RoamingLookupService"
            android:enabled="true"
            android:label="@string/gps_weather_service" />

        <!-- Service which periodically gets all statically active weather locations -->
        <service
            android:name="com.morgan.design.android.service.StaticLookupService"
            android:enabled="true"
            android:label="@string/gps_weather_service" />

        <!-- Service deals with all common tasks related to controlling notifications -->
        <service
            android:name="com.morgan.design.android.service.NotificationControllerService"
            android:enabled="true" >
            <intent-filter>
                <action android:name="com.morgan.design.android.broadcast.PREFERENCES_UPDATED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.morgan.design.android.broadcast.REMOVE_CURRENT_NOTIFCATION" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.morgan.design.android.broadcast.NOTIFICATIONS_FULL" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.morgan.design.android.broadcast.CANCEL_ALL_WEATHER_NOTIFICATIONS" />
            </intent-filter>
        </service>

        <!-- ////////////////// -->
        <!-- ////////////////// -->
        <!-- ////////////////// -->

        <service
            android:name="com.morgan.design.android.service.notifcation.WeatherNotificationControllerService"
            android:enabled="true" />
        <service
            android:name="com.morgan.design.android.service.notifcation.WeatherNotificationService1"
            android:enabled="true"
            android:label="@string/weather_notification_service_1" />
        <service
            android:name="com.morgan.design.android.service.notifcation.WeatherNotificationService2"
            android:enabled="true"
            android:label="@string/weather_notification_service_2" />
        <service
            android:name="com.morgan.design.android.notifcation.service.WeatherNotificationService3"
            android:enabled="true"
            android:label="@string/weather_notification_service_3" />

        <!-- ////////////////// -->
        <!-- ////////////////// -->
        <!-- ////////////////// -->

        <!-- Service intent checks for active notifications and reloads them -->
        <service android:name="com.morgan.design.android.service.ReloadingAlarmService" />

        <!-- Periodic alarm receiver -->
        <receiver
            android:name="com.morgan.design.android.broadcast.LookupAlarmReciever"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.morgan.design.android.broadcast.LOOPING_ALARM" />
            </intent-filter>
        </receiver>

        <!-- ////////////////// -->
        <!-- ////////////////// -->
        <!-- ////////////////// -->


        <!-- Register periodic launcher for connectivity changes and get weather download -->
        <receiver
            android:name="com.morgan.design.android.broadcast.LaunchControllerReceiver"
            android:enabled="true"
            android:exported="false"
            android:label="@string/periodic_reciever"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.ACTION_BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.ACTION_USER_PRESENT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.morgan.design.android.broadcast.RELOAD_WEATHER_BROADCAST" />
            </intent-filter>
        </receiver>
    </application>

</manifest>